<main>
    <div class="card p-5">
        <p id="test">
            Hello world Hello world Hello world Hello world
        </p>
        
         <p id="test">
            Hello world
        </p>
        <span class="test">Test</span>
    </div>

    <div style="padding: 50px 0 50px 100px; background: gray;">
            <span>Category one</span>
            <span>Category two</span>
            <span>Category three</span>

            <span class="block">Category four</span>
        
    </div>
    <div>Block</div>
</main>