/* .card {
 color:red; 
} */

.card > p {
    color: green;
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px blue;
}

p:focus,
p:active {
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px blue;
}
#test {
    color: unset;
    -webkit-text-fill-color: unset;
    -webkit-text-stroke: unset;
    text-align: center;
}
.card span {
    text-decoration-color: red;
    text-decoration-line: line-through;
    text-decoration-style: wavy;
}

* {
    font-family: 'Roboto', sans-serif;
}

.test {
    display: none;
}

.block {
    display: block;
    background: rgb(187, 185, 185);
    margin: auto;

    width: 100%;
    max-width: 600px;
}